.profile-doctor-container {
  display: flex;
  margin: 10px auto;
  .avatar-container {
    border: 50%;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    height: 135px;
    width: 135px;
  }
  .info-container {
    flex: 1;
    .doctor-title {
    }
    .doctor-description {
    }
  }
}

.show-link {
  a {
    text-decoration: none;
    padding: 10px 30px;
  }
}
