.section-container-outstanding-doctor {
  background-color: var(--nen-xam);
  .outstanding-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50% !important;
    background-color: rgb(221, 218, 213);
    width: 140px !important;
    height: 140px !important;
  }
}
